@import './global.scss';
@import './colors.scss';
@import './scales.scss';
@import './themes.scss';

@font-face {
  font-family: calibri;
  src: url(fonts/calibri.ttf);
}

@font-face {
  font-family: grandslang;
  src: url(fonts/grandslang.ttf);
}

@font-face {
  font-family: montserrat;
  src: url(fonts/montserrat.ttf);
}

*{
  margin: 0px;
  padding: 0px;
  font-family: montserrat;
  box-sizing: border-box;
}

body, html{
  height: 100%;
}

#app {
  height: 100%;
}

*::-webkit-scrollbar {
  display: none;
}

.calibri{
  font-family: calibri;
}

.grandslang{
  font-family: grandslang;
}

.montserrat{
  font-family: montserrat;
}