.light-gray{
    --color-brand-one: rgb(20, 20, 20);
    --color-brand-two: rgb(250, 250, 250);
    --color-brand-three: rgb(167, 173, 184);
    --color-brand-four: rgb(240, 240, 240);
    --color-brand-five: rgb(227, 231, 236);
}

.light-red{
    --color-brand-one: rgb(20, 20, 20);
    --color-brand-two: rgb(250, 250, 250);
    --color-brand-three: rgb(255, 57, 22);
    --color-brand-four: rgb(240, 240, 240);
    --color-brand-five: rgb(250, 250, 250);
}

.light-orange{
    --color-brand-one: rgb(20, 20, 20);
    --color-brand-two: rgb(250, 250, 250);
    --color-brand-three: rgb(255, 86, 20);
    --color-brand-four: rgb(240, 240, 240);
    --color-brand-five: rgb(250, 250, 250);
}

.light-green{
    --color-brand-one: rgb(20, 20, 20);
    --color-brand-two: rgb(250, 250, 250);
    --color-brand-three: rgb(55, 194, 96);
    --color-brand-four: rgb(240, 240, 240);
    --color-brand-five: rgb(250, 250, 250);
}
